<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning HBS</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>




    <h1>Handlebars</h1>

    {{!-- display string value --}}
    <h2>Welcome {{ name }}</h2>

    {{!-- display html --}}
    {{{ fullName }}}


    <h3>Product Description</h3>
    
    <p><b>Name</b>: {{product.name}} </p>
    <p><b>Price</b>: {{product.price}} </p>
    <p><b>Rating</b>: {{product.rating}} </p>



    <h3>Hobbies</h3>


        <ul>
            

            {{#each hobbies}}

                <li>{{this}}</li>

            {{/each}}
        </ul>
        <p>Access using index: {{ hobbies.[1] }}</p>


        {{#if userName}}
            <p>Welcome {{userName}}</p>
        {{else}}
            <p>Enter user name</p>
        {{/if}}


        {{#each productList}}

            <p><b>Name</b>: {{this.name}}</p>
            <p><b>Price</b>: {{this.price}}</p>

        {{/each}}
</body>
</html>
